.eye {
	height: 100px;
	width: 200px;
	border: 4px solid black;
	padding: 10px;
	margin: 20px auto;
	border-radius: 50%;
	position: relative;
}
.eye::before {
	content: "";
	display: block;
	border-width: 48px 98px 48px 98px;
	border-style: solid;
	border-color: white;
	position: absolute;
	top: -1%;
	left: 0%;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: black;
	box-shadow: 0px 0px 100px hsla(1, 0%, 0%, 1);
}
.bubble {
	background-color: hsla(190, 50%, 80%, 1);
	padding: 40px;
	margin: 20px;
	border-radius: 200px;
	font-size: 24px;
	text-align: center;
	font-family: sans-serif;
	position: relative;
	box-shadow: 5px 5px 15px hsla(0, 0%, 1%, 1);
}
.bubble::before {
	content: "";
	display: block;
	/*width: 10px;
	height: 10px;
	background-color: red;*/
	border-width: 0 30px 30px 30px;
	border-style: solid;
	border-color: transparent hsla(190, 50%, 80%, 1) transparent transparent;
	position: absolute;
	top: 100%;
	left: 75%;
}
.bubble::after {
	content: "";
	display: block;
	/*width: 10px;
	height: 10px;
	background-color: red;*/
	border-width: 0 30px 30px 30px;
	border-style: solid;
	border-color: transparent transparent transparent hsla(190, 50%, 80%, 1);
	position: absolute;
	top: 100%;
	right: 75%;
}
h1 {
	border: 4px solid black;
	border-radius: 20px 20px 0 0;
	background-color: black;
	color: hsla(2, 60%, 20%, 1);
	text-shadow: 2px 2px 4px white;
	margin: 0 auto;
	height: 50px;
	text-align: center;
	box-shadow: 5px 5px 15px hsla(0, 0%, 9%, 1);
}
.clock {
	width: 300px;
	height: 300px;
	border: 3px solid black;
	border-radius: 50%; 
	position: relative;
	box-shadow: 5px 5px 15px hsla(0, 0%, 9%, 1);
	margin: 5% auto;
	background-color: blue;
}
.clock::before {
	content: "";
	display: block;
	width: 130px;
	height: 8px;
	border: 2px solid black;
	border-radius: 0 5px 5px 0;
	position: absolute;
	left: 50%;
	top: 123px;
	transform: rotate(-25deg);
	background-color: black;
	box-shadow: 1px 5px 15px hsla(0, 0%, 9%, 1)
}
.clock::after {
	content: "";
	display: block;
	width: 90px;
	height: 8px;
	border: 2px solid black;
	border-radius: 5px 0 0 5px;
	position: absolute;
	left: 36%;
	top: 203px;
	transform: rotate(-90deg);
	background-color: black;
	box-shadow: -2px 5px 15px hsla(0, 0%, 9%, 1)
}

.phone {
	width: 300px;
	height: 595px;
	border: 2px solid hsla(0, 0%, 9%, 1);
	border-radius: 20px;
	position: relative;
	box-shadow: 5px 5px 15px hsla(0, 0%, 9%, 1);
	margin: 5% auto;
	background-color: white;
}
.phone::before {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	border: 2px solid hsla(0, 0%, 9%, 1);
	border-radius: 5px;
	position: absolute;
	left: calc(50% - 27px);
	top: 20px;
}
.phone::after {
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid hsla(0, 0%, 9%, 1);
	position: absolute;
	left: calc(50% - 22.5px);
	bottom: 5px;
}
.screen {
	width: 280px;
	height: 495px;
	background-color: hsla(0, 0%, 9%, 1);
	background-image: url(http://3.bp.blogspot.com/-HjPyg6f3Hcc/UPXBT3TV5PI/AAAAAAAABe4/aiqDv75CpF4/s1600/Samsung+Galaxy+Nexus+Screenshots+-+02+-+02+-+Daily.png);
	background-size: 100%;
	margin: 50px 10px;
	border-radius: 5px;
}
ul {
	background-color: hsla(2, 60%, 20%, 1);
	list-style: none;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 0 0 30px 30px;
}
ul li {
	background-color: hsla(300, 30%, 70%, 1);
	float: left;
}
ul::before,
ul::after {
	content: "";
	display: block;
	clear: both;
	height: 1px;
	background-color:;
}
body {
	margin: 0;
	border: 5px solid black;
	border-radius: 30px;
}