.top {
	background-image: url(http://templated.co/items/demos/transit/images/bokeh_car_lights_bg.jpg),
	 url(../img/carlights.jpg);
	background-size: cover;
	text-align: center;
	height: 500px;
}
h1 {
	text-align: center;
	color: white;
	margin: 0 0 18px 0;
	font-size: 3.25em;
	padding: 80px 0 20px 0;
}
h2 {
	text-align: center;
	font-size: 40px;
	color: hsla(0, 0%, 25%, 1);
	height: 20px;
}
.fst {
	color: white;
	margin: 0 auto;
	height: 80px;
	font-size: 25px;
	text-align: center;
}
.snd {
	text-align: center;
	color: grey;
	font-size: 26px;
	margin: 0 auto;
}
.box {
		border: 2px solid hsl(0, 0%, 85%);
		border-radius: 4px;
		background-color: white;
		margin: 50px 45px 2em 45px;
		text-align: center;
		padding-left: 30px;
}
.bot {
		border-top: 2px solid hsl(0, 0%, 85%);
		background-color: white;
		margin: 50px 0 0 0;
		text-align: center;
		padding-left: 30px;
		width: 100vw auto;
}
.blu {
		border-top: 2px solid hsl(0, 0%, 85%);
		background-color: hsla(195, 64%, 53%, 1);
		margin: 50px 0 0 0;
		text-align: center;
		padding-left: 30px;
		width: 100vw auto;
}
.name {
	margin: 20px 0 20px 0;
	width: 95%;
	height: 60px;
	border-radius: 10px;
	border: 1px solid hsla(195, 64%, 53%, 1);

}
.message {
	margin: 20px 0 20px 0;
	width: 95%;
	height: 170px;
	border-radius: 10px;
	border: 1px solid hsla(195, 64%, 53%, 1);
	text-align: start;
}
.send {
	margin: 20px auto;
	width: 30%;
	height: 60px;
	border-radius: 40px;
	border: 1px solid hsla(195, 64%, 53%, 1);
	background-color: hsla(226, 9%, 29%, 1);
	font-size: 20px;
	text-align: center;
	white-space: nowrap;
	color: white;
}
h3 {
	text-align: center;
	color: grey;
	font-size: 26px;
	margin: 175px 0 0;
}
.trd {
	text-align: center;
	color: grey;
	font-size: 20px;
	margin: 20px 0 40px;
}
.btm {
	text-align: center;
	color: grey;
	font-size: 26px;
	margin: 0 auto;
	height: 300px;
}
.lst {
	text-decoration: none;
	color: white;
	border: 1px solid hsl(195, 64%, 53%);
	border-radius: 30px;
	background-color: hsl(195, 64%, 53%);
	padding: 10px;
	font-size: 25px;

}
.is {
	text-decoration: none;
	color: white;
	border: 1px solid hsl(195, 64%, 53%);
	border-radius: 30px;
	background-color: hsl(195, 64%, 53%);
	padding: 10px;
	font-size: 30px;
}
.ulb {
	text-align: center;
	color: grey;
	font-size: 26px;
	margin: 0 auto;
}
input {
	display: block;
}
body {
	margin: 0;
	background-color: hsl(0, 0%, 90%)
}