body {
	background-color: black;
}
ul li {
	display: inline-block;
	width: 65px;
}
ul {
	/*padding: 5px;*/
	float: right;
	margin: 0;
}
nav {
	background-color: hsla(0, 0%, 0%, .5);
	border-radius: 15px 15px 0 0;
	background-image: linear-gradient(to top, 
		black 15%, grey);
}
nav::after {
	content: "";
	display: block;
	clear: both;
	/*background-color: red;
	height: 1px;*/

}
ul li a {
	display: block;
	padding: 20px 10px;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50%;
	text-shadow: 0 -3px 3px black, 0 5px 5px red;
}
ul li a:hover {
	/*background-color: hsla(0, 0%, 0%, .25);*/
	background-image: linear-gradient(to top, 
		black 25%, grey);
	text-shadow: 0 -13px 13px black, 0 14px 14px red;
}
h1 a {
	display: inline-block;
	font-size: 25px;
	margin: 0 auto;
	float: left;
	display: block;
	padding: 0;
	text-align: center;
	text-decoration: none;
	color: black;
	text-shadow: 0 -3px 3px black, 0 5px 5px red;
}
h1 {
	line-height: 57px;
	width: 500px;
	margin: 0;
}